

/******block_breadcrumb***** */
._breadcrumb_checkout {
	background: #f9f9f9;
	font-family: 'HurmeGeometricSans1-Light';
	font-size: 14px;
	margin: 30px 0 0 0;}
._breadcrumb_checkout .bread_content{
	padding: 10px 0;}
._breadcrumb_checkout i{
	color: #636363;
	font-size: 18px;
	margin: 0 10px 0 0;}
._breadcrumb_checkout ul li {
	padding: 0 10px; }
._breadcrumb_checkout ul li a {
	color: #636363; }
._breadcrumb_checkout ul li a span {
	padding: 0 0 0 10px; }

/******block_Checkout***** */
.title {
	text-align: center; margin: 30px 0 0 0; }
.title h2 {
	font-family: 'HurmeGeometricSans1-Light';
	position: relative;
	text-transform: uppercase;
	font-size: 2.2rem;
	display: inline-block; 
	padding: 0 0 20px 0;}
.title h2::before {
	content: "";
	width: 100px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 23px;
	left: -120px; }
.title h2::after {
	content: "";
	width: 100px;
	height: 1px;
	background-color: #000;
	position: absolute;
	right: -120px;
	top: 23px; }

.main_content ul li a{
	margin: 30px 0;
	color: #000;
	display: block;
	font-family: 'HurmeGeometricSans1-Regular';
	font-size: 16px;
	display: flex;
	align-items: center;
}
.main_content ul li .line{
	flex: 1;
    margin-left: 20px;
    margin-right: 40px;
    padding-top: .75px;
    /* border-bottom: 1px solid #274d58; */
    height: 1px;
    width: 100%;
    content: "";
    background: #b2b2b2;
    margin-right: 30px;
}
.icon-plus{
	font-size: 20px;
	color: #000;
}
.icon-minus{
	font-size: 20px;
	color: #000;
}
.main_content ul li span{
	font-size: 16px;
	color: #636363;
	font-family: 'HurmeGeometricSans1-Light';}

@media (max-width: 320px) {
.main_content ul li .line{
	display: none;}
.icon-plus{
	right: 15px;
	position: absolute;}
.icon-minus{
	right: 15px;
	position: absolute;}
.main_content ul li a{
	margin: 30px 30px 30px 0;}
/******(max-width: 320px)******/}

@media (max-width: 1199.98px) {
.title h2::before , .title h2::after{
	display: none;}
.container {
padding: 0 10px;}

/******(max-width: 1199.98px)******/}

