/******Login***** */

body {
  font-size: 12px;
  color: #000; }
a, a:hover {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.container {
  max-width: 1920px;
  padding: 0 50px; }


.block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex; }

.row {
  margin: 0; }

input, button {
  outline: none; }
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
     opacity: 1; 
}
.block_mobile {
  display: none; }

.overlay-login {
    background-color: #b2b2b2;
    position: fixed;
    overflow: hidden!important;
    overflow-y: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 18020;
    display: none;
}
.overlay-login .overlay-navigation {
    z-index: 50;
    height: 24px;
    left: 0;
    top: 20px;
    width: 100%;
}
.overlay-login .overlay-navigation a {
    display: inline-block;
    position: absolute;
    right: 2%;
}
.overlay-login .wrap-login {
    height: 100vh;
    position: relative;
}
.main_login{
	width: 100%;
    min-height: 100vh;
	display: flex;
}
.icon-close{
	font-size: 16px;
    top: 10px;
    position: relative;}
.cover_search{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    /* border-radius: 0.25rem; */
}

.title_search_photo{
	font-size: 30px;
	text-align: center;
	font-family: 'HurmeGeometricSans1-Regular';
	padding-top: 30px;
}
.select_photo{
	border: 1px dashed #636363;
	text-align: center;
	margin: 20px auto;
	width: 90%;
	padding: 30px 0;
	border-radius: 5px;
}
.icon-search_picture{
	font-size: 70px;
	color: #000;
}
.content_noted{
	font-size: 20px;
	text-align: center;
	font-family: 'HurmeGeometricSans1-Light';
	padding: 20px 0;
}
.search_try_photo{
    margin: 0 auto;
    width: 90%;
}
.title_try{
	font-size: 20px;
	text-align: center;
	font-family: 'HurmeGeometricSans1-Light';
	padding-top: 10px;
	color: #636363;
}
.search_try_photo ul li{
	padding: 20px 35px 70px 0;
}

@media (max-width: 991.98px) {
	.search_try_photo ul{
		display: block;
	}
	.search_try_photo{width: 100%;}
	.search_try_photo ul li{
		width: 50%;
		float: left;
		padding: 10px 5px;
	}
	
}


